<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Taylor Shukerov" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "normalize" %>
    <%= javascript_include_tag "site" %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">Website</div>
        <nav class="menu">
          <ul>
            <li class="menu_item">Cool
              <ul class="sub_menu">
                <li>link1</li>
                <li>link2</li>
                <li>link3</li>
              </ul>
            </li>
            <li class="menu_item">Menu
              <ul class="sub_menu">
                <li>link1</li>
                <li>link2</li>
                <li>link3</li>
              </ul>
            </li>
            <li class="menu_item">Bro
              <ul class="sub_menu">
                <li>link1</li>
                <li>link2</li>
                <li>link3</li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    
    <%= yield %>
    
    <footer>
      <div class="container">
        <p>Taylor Shukerov 2017</p>
      </div>
    </footer>
  </body>
</html>
